<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>正整數平方計算結果</title>
    <style>
      body {
        margin: 0;
      }
      .top {
        background-color: rgb(45, 55, 82);
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .welcome {
        font-size: 30px;
        color: white;
      }
      .congratulation {
        width: fit-content;
        margin: 40px auto 0 auto;
        font-size: 20px;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div class="top">
      <div class="welcome">正整數平方計算結果</div>
    </div>
    <div class="congratulation">{{result}}</div>
  </body>
</html>
